@*Insert Teacher Menu*@
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
        Reports
        <i class="icon-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("View Top Products", "Top10Products", "Report")
        </li>
        <li>
            @Html.ActionLink("View School Points Reports ", "SchoolPointReport", "Report")
        </li>
        <li>
            @Html.ActionLink("View School Unspent Points", "CurrentStudentSchoolTotal", "Report")
        </li>
        <li>
            @Html.ActionLink("View Top Students", "Top10Students", "Report")
        </li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
        Activities
        <i class="icon-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Input Completed Activity", "Index", "ActivityTransaction")
            </li>
    </ul>
</li>
