@model Kickoff4Kids420.Models.ActivityTransaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ActivityTransaction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfiles.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfiles.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivityDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Activity.ActivityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activity.ActivityName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ActivityTransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
