@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kickoff4Kids420.Models.ActivityTransaction>

@{
    ViewBag.Title = "Index";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Currently Available Activities</h1>
    </div>
</div>
<div class="container">
    <div class="panel panel-red">
        <div class="panel-heading">
            <h1 class="panel-title">Completed Activities</h1>
        </div>
        <br />
        @using (Html.BeginForm("Index", "ActivityTransaction", FormMethod.Get))
        {
            <ul class="list-inline">
                <li>
                    Activity: @Html.DropDownList("activityName", "All")
                <li />
                <li>
                    Search by Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Go!" />
                </li>
                <li>
                    @Html.ActionLink("Add New", "Create", null, new { @class = "btn-u btn-u" })
                </li>
            </ul>
        }

        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>
                    @Html.ActionLink("Student Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, activityName = Request.QueryString["activityName"] })
                </th>
                <th>
                    @Html.ActionLink("Activity Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, activityName = Request.QueryString["activityName"] })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Activity.ActivityName)
                </th>
                <th>
                    Points Earned
                </th>
                <th>
                    Modify
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfiles.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activity.ActivityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activity.PointValue)
                    </td>
                    <td class="text-right span2">
                        @Html.ActionLink(" ", "Edit", new { id = item.ActivityTransactionId }, new { @class = " icon icon-edit" }) |
                        @Html.ActionLink(" ", "Delete", new { id = item.ActivityTransactionId }, new { @class = " icon icon-trash" })
                    </td>
                </tr>
            }

        </table>
    </div>

</div>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, activityName = Request.QueryString["activityName"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
</div>
