@model IEnumerable<Kickoff4Kids420.Models.ActivityTransaction>

@{
    ViewBag.Title = "Index";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Currently Available Activities</h1>
    </div>
</div>
<div class="container">
    <div class="panel panel-red">
        <div class="panel-heading">
            <h2 class="panel-title">Completed Activities</h2>
        </div>
        <div class="span2">
            <p class="icon-plus-sign">
                @Html.ActionLink("Add New", "Create")
            </p>
        </div>
        <div class="span8">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserProfiles.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Activity.ActivityName)
                    </th>
                    <th>
                        Points Earned
                    </th>
                    <th>
                        Modify
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserProfiles.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activity.ActivityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activity.PointValue)
                        </td>
                        <td class="text-right span2">
                            @Html.ActionLink(" ", "Edit", new { id = item.ActivityTransactionId }, new { @class = " icon icon-edit" }) |
                            @Html.ActionLink(" ", "Delete", new { id = item.ActivityTransactionId }, new { @class = " icon icon-trash" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
