@model IEnumerable<Kickoff4Kids420.Models.ActivityTransaction>

    @{
    ViewBag.Title = "Index";
    }

    <h2>All Completed Activities</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserProfiles.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.ActivityName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfiles.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.ActivityName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ActivityTransactionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ActivityTransactionId })
            </td>
        </tr>
        }

    </table>
