@model IEnumerable<Kickoff4Kids420.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Currently Eligible Activities</h2>

<p>
    @Html.ActionLink("Add Activity", "Create")
</p>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointValue)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointValue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ActivityId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ActivityId })
            </td>
        </tr>
    }

</table>
