@model Kickoff4Kids420.Models.LocalPasswordModel

@*<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}*@
<div class="container">
    <div class="panel panel-red margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-tasks"></i> Change Password</h3>
        </div>
        <div class="panel-body">
            <form action="/Account/Manage" method="post" class="margin-bottom-40" role="form">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group">
                    <label for="OldPassword">Current password</label>
                    <input data-val="true" data-val-required="The Current password field is required." id="OldPassword" name="OldPassword" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="NewPassword">New password</label>
                    <input data-val="true" data-val-length="The New password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The New password field is required." id="NewPassword" name="NewPassword" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm new password</label>
                    <input data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control"  />
                </div>

                <button type="submit" class="btn-u btn-u-red">Submit</button>

            </form>
        </div>
    </div>
</div>
