@model Kickoff4Kids420.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">@ViewBag.Title - You're logged in as @User.Identity.Name</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->





@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}
<div class="text-center text-success">@ViewBag.StatusMessage</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
