@model Kickoff4Kids420.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Registration</h1>
    </div><!--/container-->
</div><!--/breadcrumbsc-->
<!--=== End Breadcrumbs ===-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form class="reg-page" action="/account/register" method="POST">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="reg-header">
                    <h2>Register a new account</h2>
                    <p>Already Signed Up? Click <a href="/account/login" class="color-green">Sign In</a> to login your account.</p>
                </div>

                <label>UserName</label>
                <input type="text" value="" id="UserName" name="UserName" class="form-control margin-bottom-20" required>

                <label>First Name</label>
                <input type="text" value="" id="FirstName" name="FirstName" class="form-control margin-bottom-20" required>

                <label>Last Name</label>
                <input type="text" value="" id="LastName" name="LastName" class="form-control margin-bottom-20" required>



                <label>Email Address</label>
                <input type="text" value="" id="EmailAddress" name="EmailAddress" class="form-control margin-bottom-20" required>

                <div class="form-group margin-bottom-5">
                    @Html.LabelFor(model => model.SchoolId, "Schools")
                    @Html.DropDownList("SchoolId", (IEnumerable<SelectListItem>)ViewBag.SchoolId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SchoolId)
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <label>Password</label>
                        <input type="password" id="Password" name="Password" class="form-control margin-bottom-20" required>
                    </div>
                    <div class="col-sm-6">
                        <label>Confirm Password</label>
                        <input type="password" id="Password" name="ConfirmPassword" class="form-control margin-bottom-20" required>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-sm-6">
                        <label>School Code</label>
                        <input type="text" id="Password" name="Password" class="form-control margin-bottom-20" pattern="/^school$/" required>
                    </div>
                </div>*@
                <hr>

                <div class="row">
                    <div class="col-lg-6">
                        <label class="checkbox">
                            <input type="checkbox" required>
                            I read <a href="/Home/Terms" class="color-green">Terms and Conditions</a>
                        </label>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button class="btn-u" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
