@model Kickoff4Kids420.ViewModels.ResetPasswordConfirmationViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Forgot Password Form</legend>
        <ol>
            <li>
                @Html.Label("New Password", new { @for = "password" })
                @Html.TextBox("password")
                @Html.Label("Confirm New Password", new { @for = "confirmPassword" })
                @Html.TextBox("confirmPassword")
                @Html.HiddenFor(t=>t.resetPasswordToken)
                <span style="color:red;">@ViewBag.message</span>
            </li>
        </ol>
        <input type="submit" value="Recover" />
    </fieldset>
}