@model Kickoff4Kids420.Models.School

@{
    ViewBag.Title = "Details";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">School Details</h1>
    </div>
</div>
<div class="container">
    <div class="panel panel-red">
        <div class=" panel-heading">
            <h2 class="panel-title">Details</h2>
        </div>
        <div class="panel-body">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <div class="display-label">
                           <strong> @Html.DisplayNameFor(model => model.SchoolName)</strong>
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.SchoolName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="display-label">
                            <strong> @Html.DisplayNameFor(model => model.SchoolAddress)</strong> 
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.SchoolAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="display-label">
                            <strong> @Html.DisplayNameFor(model => model.City)</strong> 
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.City)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="display-label">
                            <strong>  @Html.DisplayNameFor(model => model.State)</strong>

                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.State)
                        </div>
                    </div>
                    <div class=" form-group">
                        <div class="display-label">
                            <strong> @Html.DisplayNameFor(model => model.ZipCode)</strong>
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.ZipCode)
                        </div>
                    </div>

                    <div class=" form-group">
                        <div class="display-label">
                           <strong> @Html.DisplayNameFor(model => model.PhoneNumber)</strong>
                        </div>
                        <div class="display-field margin-bottom-10">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </div>
                    </div>

                </fieldset>
            </form>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.SchoolId }, new { @class = "btn-u btn-u-red" })
            </p>
            <p>
                @Html.ActionLink("Back to Schools", "Index")
            </p>
        </div>
    </div>
</div>