@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <strong><em><big>Domestic division of The Amobi Okoye Foundation </em></big></strong><br />
        Kickoff 4 Kids (K4K) was founded in 2007 by NFL defensive lineman Amobi Okoye, the Foundation’s mission is giving hope to kids, communities and building unity amongst children around the world.
        Amobi entered high school at the young age of twelve, where he distinguished himself both athletically and scholastically. He graduated from Lee High School in Huntsville, Alabama when he was only fifteen years old. Amobi’s academic prowess was evident to all. He was offered a scholarship to Harvard University, which he turned down in lieu of a football scholarship to the University of Louisville. After four football seasons and three and a half years of study, Amobi graduated with a degree in psychology; at nineteen, he also became the youngest player to ever be drafted into the NFL.
        Amobi has a passion to help children by giving them hope for the future, and letting them know that they can also achieve great things. Amobi is equally passionate about seeing communities transformed. He believes that, through partnership and collaboration, we can see the inner cities of America renewed and impoverished nations enriched.
    <p>
        The Amobi Okoye Foundation has two divisions both domestic and international: <br /> (1) Domestic Youth & Community Programs Kickoff 4 Kids (K4K) <br />(2) International Outreach Programs, based in Amobi’s home continent of Africa, Changing Africa Through Education (C.A.T.E).  Domestic programs are currently based in the inner city of Houston, Texas.  Kickoff 4 kids also have offices in Huntsville Alabama and Louisville Kentucky the place of Amobi’s high school and collegiate careers, respectively.
    </p>
    <p>
        <strong>K4K Youth & Community Programs</strong>
    <p>
        <li> <strong> K4K Activities &Scholarship</strong>: Series of youth activities that uses athletics and scholarships to motivate and inspire youths, i.e. Sports Mentoring Camps, and Movies & Motivation Rallies.</li>
        <li> <strong> K4K House                  </strong> :   A Competition Outreach Achievement Center amongst high schools to improve school attendance, grades, good behavior, physical activity and community service.</li>
        <li> <strong> Tackle Hunger              </strong> :   Provides temporary sustenance for needy families <li/>
        <li> <strong> Books Abroad               </strong> :   Gathers Thousands of new and used library books for the International division C.A.T.E </li>
</p>
    </p>

        To accomplish program objectives, ensure sustainable funding and garner sufficient community support, The K4K Foundation has adopted a sound strategy that incorporates an aggressive public information campaign; a Board of Directors and Councilors comprised of thoughtful leaders and key influencers, and frequent consultation with the best of professionals to ensure the integrity of all of its programs. Through a comprehensive programming model, sustainable funding and transparent reporting, The Amobi Okoye Foundation is making a difference in the lives of thousands of children and adults around the globe.   
     </p>

</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>