@model Kickoff4Kids420.Models.FrontPage
@{
    ViewBag.Title = "Kickoff 4 Kids";  
}
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i> Kickoff 4 Kids</i> <br /> <i>House</i> <br /> <i>2013</i></h2>
            <div class="da-img"><img src="~/Images/k4knew.png" height="300" width="600" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2><i>Earn Points</i> <br /> <i>and</i> <br /> <i>win prizes today!</i></h2>

            <div class="da-img"><img src="~/Images/apple.png" height="300" width="600" alt="image01" /></div>
        </div>
        <div class="da-slide">
            <h2><i>Get Involved</i> <br /> <i>And</i> <br /> <i>Make a Difference!</i></h2>

            <div class="da-img"><img src="/Images/students.png" height="300" width="600" alt="image01" /></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div>
<div class="purchase">
    <div class="container">
        <div class="row">
            @if (!Request.IsAuthenticated)
{
    <div class="col-md-9">

        <span>@Model.MainText</span>
    </div>
                <div class="col-md-3">
                    <a href="/Account/Register" class="btn-buy hover-effect">@Model.MainButton</a>             
                </div>
            
                }
                @if (Request.IsAuthenticated)
            {
            <div class="col-md-12">
                <span>Welcome @User.Identity.Name! Thank your for your participation in the Kickoff 4 Kids Program!</span>
            </div>
            }
                @*<p>The Foundation’s mission is to give hope to kids, communities and to build unity amongst the children of Louisville, KY.</p>*@
            </div>
            
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="service">
                <i class="icon-book service-icon"></i>
                <div class="desc">
                    <h4>@Model.HeaderOneText</h4>
                    <p>@Model.HeaderOneComment</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="icon-trophy service-icon"></i>
                <div class="desc">
                    <h4>@Model.HeaderTwoText</h4>
                    <p>@Model.HeaderTwoComment</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="icon-group service-icon"></i>
                <div class="desc">
                    <h4>@Model.HeaderThreeText</h4>
                    <p>@Model.HeaderThreeComment</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-20">
                <div class="headline"><h2>Our Leaders</h2></div>
                <dl>
                    <dt>Chairman</dt>
                    <dd>Amobi Okoye</dd>
                    <dd>Augustine Okoye</dd>
                    <dd><br /></dd>
                    <dt>Pastor</dt>
                    <dd>Kenneth Tate</dd>
                    <dd><br /></dd>
                    <dt>Contributors</dt>
                    <dd>Adrian Garcia</dd>
                    <dd>Don Elder</dd>
                    <dd>Dr. Imo Aisiku</dd>
                    <dd>Judge Jimmy Thornton</dd>
                </dl>
            </div>
            <div class="col-md-4 md-margin-bottom-20">
                <div class="headline"><h2>About The Program</h2></div>
                <p>Kickoff 4 Kids is a program designed to get kids involved at school while having fun at the same time.
                    Participating students will be able to earn points by completing agreed upon activities. These points
                    can then be redeemed to purchase awards. </p><p>Through this system we hope to effect positive change within the community while making a 
                                                                     lasting impact on the lives of the youth of Louisville, KY. </p>
            </div>
                       
            <div class="col-md-4 md-margin-bottom-20">
                <div class="headline"><h2>Contact Us</h2></div>
                <address class="md-margin-bottom-40">
                    1832 Snake River Road <br />
                    Katy Tx 77449 <br />
                    Phone:  281-398-4201 <br />
                    Fax: 281-398-4211 <br />
                    Email: Info@amobiokoyefoundation.org
                </address>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/index")
}


