@model Kickoff4Kids420.Models.Category

@{
    ViewBag.Title = "Create";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Create Category</h1>
    </div>
</div>

<div class="container">
    <div class="panel panel-red">
        <div class="panel-heading">
            <h2 class="panel-title">New Category</h2>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.CategoryName)
                    </div>
                    <div class="editor-field margin-bottom-10">
                        @Html.EditorFor(model => model.CategoryName)
                        @Html.ValidationMessageFor(model => model.CategoryName)
                    </div>

                    <p>
                        <input class="btn-u btn-u-red" type="submit" value="Create" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Back to Product Categories", "Index")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
