@model Kickoff4Kids420.Models.Category

@{
    ViewBag.Title = "Details";
}
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Category Details</h1>
    </div>
</div>

<div class="container">
    <div class="panel panel-red">
        <div class="panel-heading">
            <h2 class="panel-title">Details</h2>
        </div>
        <div class="panel-body">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <div class="display-label">
                            <strong> @Html.DisplayNameFor(model => model.CategoryName)</strong>
                        </div>
                        <div class="display-field margin-bottom-10">
                            @Html.DisplayFor(model => model.CategoryName)
                        </div>
                    </div>
                </fieldset>
            </form>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }, new { @class = "btn-u btn-u-red" })
            </p>

            <p>
                @Html.ActionLink("Back to Product Categories", "Index")
            </p>
        </div>
    </div>
</div>
@model Kickoff4Kids420.Models.Category

@{
    ViewBag.Title = "Details";
}
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Category Details</h1>
    </div>
</div>

<div class="container">
    <div class="panel panel-red">
        <div class="panel-heading">
            <h2 class="panel-title">Details</h2>
        </div>
        <div class="panel-body">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <div class="display-label">
                            <strong> @Html.DisplayNameFor(model => model.CategoryName)</strong>
                        </div>
                        <div class="display-field margin-bottom-10">
                            @Html.DisplayFor(model => model.CategoryName)
                        </div>
                    </div>
                </fieldset>
            </form>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }, new { @class = "btn-u btn-u-red" })
            </p>

            <p>
                @Html.ActionLink("Back to Product Categories", "Index")
            </p>
        </div>
    </div>
</div>