@model IEnumerable<Kickoff4Kids420.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Product Categories</h2>
<div class="span2">
    <p class="btn">
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<div class="span4">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new { @class = " btn btn-small margin-right" })
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryId }, new { @class = " btn btn-small margin-right" })
                    @Html.ActionLink(" ", "Delete", new { id = item.CategoryId }, new { @class = "icon icon-trash" })
                </td>
            </tr>
        }

    </table>
</div>
<div class="row"></div>