@model IEnumerable<Kickoff4Kids420.Models.Product>

@{
    ViewBag.Title = "Available Products";
}

<h2>Available Products</h2>

<div class=" span2">
    <p class="btn">
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<div class="span8">
    <table class="table table-bordered table-hover table-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categories.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = " btn btn-small margin-right" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.ProductId }, new { @class = "icon icon-trash" })
                </td>
            </tr>
        }

    </table>
</div>