
@model IEnumerable<Kickoff4Kids420.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Available Products</h2>
<img src="~/Images/school%20reward.jpg" />
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </th>
        <th>
            Purchase Item
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = item.ProductId }, "")
            </td>
        </tr>
    }

</table>