@model IEnumerable<Kickoff4Kids420.Models.UserProfile>
@{
    
    ViewBag.Title = "Users";
    var roles = ((string[])ViewBag.Roles).OrderBy(x => x);
}


<h2>Users</h2>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Username            </th>
            @foreach (var role in roles)
            {
                <th>@role
                </th>
            }

        </tr>


    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.UserId
                </td>
                <td>
                    @user.UserName
                </td>

                @foreach (var role in roles)
                {
                    <td>
                        @using (Html.BeginForm("UserToRole", "Roles"))
                        {
                            <input type="hidden" value="@user.UserName" name="username" />
                            <input type="hidden" value="@role" name="rolename" />
                            <input type="checkbox" name="ischecked" onclick="this.form.submit();" value="true" checked="@System.Web.Security.Roles.IsUserInRole(@user.UserName, role)" />
                            
                        }


                    </td>
                }
                @*<td>
                    @WebSecurity.GetCreateDate(user.UserName)
                </td>
                <td>
                    @WebSecurity.GetLastPasswordFailureDate(user.UserName)
                </td>
                <td>
                    @WebSecurity.GetPasswordChangedDate(user.UserName)
                </td>
                <td>
                    @WebSecurity.GetPasswordFailuresSinceLastSuccess(user.UserName)
                </td>*@

            </tr>  
        
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Finished", "Index", "Roles")
  
</p>
